In [1]:
import json
import requests
from time import sleep
import pandas as pd
from key_vault import tmdb_api
api_key = tmdb_api

In [2]:
# setting up initial api pull for star treck
url = 'http://api.themoviedb.org/3'
tv_list= '/genre/tv/list'
movie_list= '/genre/movie/list'
tv_genre = requests.get(url + tv_list + "?page=1" + "&api_key=" + api_key).json()
movie_genre = requests.get(url + movie_list + "?page=1" + "&api_key=" + api_key).json()
#tv_genre

In [3]:
#pull the genre lists for movies and tv
tvgenre_df=pd.DataFrame(tv_genre['genres'])
moviegenre_df=pd.DataFrame(movie_genre['genres'])

In [4]:
#merge the two lists drop duplicates
genre_list=pd.concat([tvgenre_df,moviegenre_df], axis=0)
genre_list=genre_list.drop_duplicates('id')
genre_list=genre_list.reset_index(drop=True)
genre_list.head()

      id                name
0  10759  Action & Adventure
1     16           Animation
2     35              Comedy
3     80               Crime
4     99         Documentary

In [5]:
#convert the list into a dictionary
dictionary={}
id=genre_list['id']
name=genre_list['name']
loops= len(id)
for x in range(loops):
    dictionary[id[x]]=name[x] 
dictionary

{12: 'Adventure',
 14: 'Fantasy',
 16: 'Animation',
 18: 'Drama',
 27: 'Horror',
 28: 'Action',
 35: 'Comedy',
 36: 'History',
 37: 'Western',
 53: 'Thriller',
 80: 'Crime',
 99: 'Documentary',
 878: 'Science Fiction',
 9648: 'Mystery',
 10402: 'Music',
 10749: 'Romance',
 10751: 'Family',
 10752: 'War',
 10759: 'Action & Adventure',
 10762: 'Kids',
 10763: 'News',
 10764: 'Reality',
 10765: 'Sci-Fi & Fantasy',
 10766: 'Soap',
 10767: 'Talk',
 10768: 'War & Politics',
 10770: 'TV Movie'}

In [6]:
#save as csv file named genre_list.csv
genre_list.to_csv("genre_list.csv", encoding= 'utf-8', index = False)

In [7]:
#pull total credit for each of the main cast members 
main_ids=['1748','1749','1750','1751','1752','1753','1754','1755','1214943','1214944']
credits = {}
count = 0
# loops through each main and adds their total credits to their id
for id_num in main_ids:
#print a counter to see where you are in the loop
    print(count, '/', len(main_ids)-1, end = ' \t')
    url = f'https://api.themoviedb.org/3/person/{id_num}/combined_credits?api_key={api_key}&language=en-US'
    dat = requests.get(url).json()
    sleep(.3)
    credits[id_num]=dat
    count += 1

0 / 9 	1 / 9 	2 / 9 	3 / 9 	4 / 9 	5 / 9 	6 / 9 	7 / 9 	8 / 9 	9 / 9

In [8]:
#save the data in json format as main_credits.txt
with open('main_credits.txt', 'w') as file:
    json.dump(credits, file)