In [1]:
# Import Needy Libraries and Modules

import json
import star_trek_tos_data as TOS
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from datetime import datetime
import scipy.stats

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [2]:
# Define emplty lists to append based

description = []
title = []
guest_num = []
guest_name = []
count = []

# Read the modules that were generated from APIs

for movie_id in TOS.guest_movies:
    movie_dat = TOS.guest_movies[movie_id]
       
    # print(json.dumps(movie_dat['count'], indent = 4, sort_keys = True))
    
    # Skip the errors and append the empty lists 
    try:
        description.append(movie_dat['overview'])
        title.append(movie_dat['original_title'])
        guest_num.append(movie_dat['guest_ids'])
        guest_name.append(movie_dat['guest_names'])
        count.append(movie_dat['count'])
        
        
    except KeyError:
        print('Error')

Error

In [3]:
len(guest_name)

3936

In [4]:
# Make the data frames based on the appended lists above. 

df = pd.DataFrame({'Movie Title': title,
                  'Description': description,
                  'Guest Number': guest_num,
                    'Guest Name': guest_name,
                  'Count of Guests': count})
df.head()

,Count of Guests,Description,Guest Name,Guest Number,Movie Title
0,1,"Questioned as a murder suspect, solid (but dru...",[Joseph Mell],[83913],Naked Alibi
1,2,An escaped convict gets a hold of some radioac...,"[Joseph Mell, Kathie Browne]","[83913, 16090]",City of Fear
2,3,Claude is a ruthless and efficient contract ki...,"[Joseph Mell, Kathie Browne, Phillip Pine]","[83913, 16090, 16126]",Murder by Contract
3,1,"Two federal agents (John Ireland, Richard Denn...",[Joseph Mell],[83913],The 49th Man
4,1,"Dr. Ernst Grood , having already dominated the...",[Joseph Mell],[83913],The Lost Planet

In [5]:
# Drop all NAs to filter above data frame 

df['Description'].replace('', np.nan, inplace=True)
df.dropna(subset=['Description'], inplace=True)
title_clean = df['Movie Title']
guest_clean = df['Guest Name']
guest_num_clean = df['Guest Number']
count_clean = df['Count of Guests']
df

,Count of Guests,Description,Guest Name,Guest Number,Movie Title
0,1,"Questioned as a murder suspect, solid (but dru...",[Joseph Mell],[83913],Naked Alibi
1,2,An escaped convict gets a hold of some radioac...,"[Joseph Mell, Kathie Browne]","[83913, 16090]",City of Fear
2,3,Claude is a ruthless and efficient contract ki...,"[Joseph Mell, Kathie Browne, Phillip Pine]","[83913, 16090, 16126]",Murder by Contract
3,1,"Two federal agents (John Ireland, Richard Denn...",[Joseph Mell],[83913],The 49th Man
4,1,"Dr. Ernst Grood , having already dominated the...",[Joseph Mell],[83913],The Lost Planet
5,2,"Ambitious but thwarted, Rae Smith meets handso...","[Joseph Mell, Charles Drake]","[83913, 15978]",Back Street
6,3,Dave Bannion is an upright cop on the trail of...,"[Joseph Mell, John Crawford, Celia Lovsky]","[83913, 15693, 15942]",The Big Heat
7,2,"From his prison cell, young Alan Musgrave (Rod...","[Joseph Mell, Sarah Marshall]","[83913, 124010]",Lord Love a Duck
8,2,A meat-eating teenager (Michael Landon) sees a...,"[Joseph Mell, Whit Bissell]","[83913, 13786]",I Was a Teenage Werewolf
9,2,Two American gun runners at odds with each oth...,"[Clegg Hoyt, Paul Fix]","[168061, 8496]",Santiago
10,2,An African American detective is asked to inve...,"[Clegg Hoyt, William Schallert]","[168061, 15992]",In the Heat of the Night
11,1,Luke Ram seeks revenge against the white reneg...,[Clegg Hoyt],[168061],Gun Fever
12,3,Walt Sherill (Alan Ladd) is attacked and beat ...,"[Clegg Hoyt, Adam Roarke, Stanley Adams]","[168061, 39770, 1947]",13 West Street
13,2,An innocent Mexican boy is sacrificed to a lyn...,"[Clegg Hoyt, James Gregory]","[168061, 14732]",A Town Has Turned to Dust
14,1,A young lawyer's primrose path to success gets...,[Michael Dugan],[82510],No Questions Asked
15,1,"A man (Howard Keel), his wife (Jane Greer) and...",[Michael Dugan],[82510],Desperate Search
16,3,"Foreign agents are after a substance called ""l...","[Michael Dugan, David Brian, Michael Ansara]","[82510, 16016, 16074]",The Destructors
17,2,Ben-Hur is a 1959 epic film directed by Willia...,"[Michael Dugan, Richard Hale]","[82510, 16055]",Ben-Hur
18,1,Giants Mollusks are released from the earth by...,[Michael Dugan],[82510],The Monster that Challenged the World
19,2,After Custer and the 7th Cavalry are wiped out...,"[Michael Dugan, Paul Fix]","[82510, 8496]",She Wore a Yellow Ribbon
20,1,Monogram's Whip Wilson western series occasion...,[Michael Dugan],[82510],Range Land
21,1,Three outlaws on the run discover a dying woma...,[Michael Dugan],[82510],3 Godfathers
22,1,A poor homesteader fights back when he's targe...,[Michael Dugan],[82510],The Marauders
23,6,Spartacus is a 1960 American historical drama ...,"[John Hoyt, Vic Perrin, Peter Brocco, Carey Lo...","[14508, 15949, 7074, 12431, 14256, 1214919]",Spartacus
24,2,"While crossing the desert, a frontier scout, J...","[John Hoyt, John Crawford]","[14508, 15693]",Duel at Diablo
25,1,Emperor Wang (the Perverted) is leader of the ...,[John Hoyt],[14508],Flesh Gordon
26,1,A Man investigates the disappearance of two of...,[John Hoyt],[14508],The Black Castle
27,1,Police Lt. Leonard Diamond vies to bring a cle...,[John Hoyt],[14508],The Big Combo
28,1,Historical epic. The triumphs and tragedy of t...,[John Hoyt],[14508],Cleopatra
29,1,United States Federal agent Rigby (Robert Tayl...,[John Hoyt],[14508],The Bribe
...,...,...,...,...,...
3904,1,The Wedded Bliss computer dating agency aims t...,[Anna Karen],[84360],Carry On Loving
3905,1,Memphis cop Lieutenant McKenzie is called in t...,[Anna Karen],[84360],Flick
3906,1,The first of several social realism films by K...,[Anna Karen],[84360],Poor Cow
3909,1,Someone is killing off nubile real estate agen...,[Johnny Haymer],[151695],Open House
3910,1,Jake Remy leads a gang of outlaw cutthroats ma...,[Mariette Hartley],[16131],Barquero
3911,1,An ex-lawman is hired to transport gold from a...,[Mariette Hartley],[16131],Ride the High Country
3912,1,Marshal Chris Adams turns down a friend's requ...,[Mariette Hartley],[16131],The Magnificent Seven Ride!
3913,1,"Two rebellious youths, Ralph and Scott, find t...",[Mariette Hartley],[16131],1969
3914,1,Long suspected of possessing an intelligence t...,[Mariette Hartley],[16131],Swimming with Dolphins
3915,1,Angelz r always w/us,[Mariette Hartley],[16131],Angels
3916,1,Book editor Max Normane can perfect anyone’s s...,[Mariette Hartley],[16131],Novel Romance
3917,1,True story of a brand-new Canadian airliner ru...,[Mariette Hartley],[16131],Falling from the Sky: Flight 174
3918,1,Amy is the Mannings only daughter. After the d...,[Mariette Hartley],[16131],No Place to Hide
3919,1,A priest and his wife adopt a brother and sist...,[Mariette Hartley],[16131],Child of Rage
3920,1,A crazed Vietnam vet bomber hijacks a Boeing 7...,[Mariette Hartley],[16131],Skyjacked
3921,1,David and Carolyn marry in Hawaii and continue...,[Mariette Hartley],[16131],Bride of the Incredible Hulk
3922,1,A young man who dies in an auto accident retur...,[Mariette Hartley],[16131],Sandcastles
3923,1,"Upset by rumors that Halloween may end, Dracul...",[Mariette Hartley],[16131],The Halloween That Almost Wasn't
3924,1,"A drama about how to let go of our emotional ""...",[Mariette Hartley],[16131],Baggage
3925,1,Successful advertising executive decides to ge...,[Mariette Hartley],[16131],Drop-Out Father
3926,1,Police detective Steve Sloan believes that top...,[Mariette Hartley],[16131],Diagnosis Murder
3927,1,Cindy Lightner relentlessly tries to spearhead...,[Mariette Hartley],[16131],M.A.D.D.: Mothers Against Drunk Drivers
3928,1,A father brings a young child to an emergency ...,[Mariette Hartley],[16131],Improper Channels
3929,1,"Margaret and Martin Harper, both sixty years o...",[Mariette Hartley],[16131],Love Is a Four Letter Word
3930,1,High school misfits Stoney and Dave discover a...,[Mariette Hartley],[16131],Encino Man
3931,1,Because she is marrying the man who assumed th...,[Mariette Hartley],[16131],Meet The Santas
3932,1,A group of eccentric retirees' lives are turne...,[Mariette Hartley],[16131],Silver Skies
3933,1,"A mother going through a painful, protracted d...",[Mariette Hartley],[16131],Silence of the Heart
3934,1,An adopted Irish American artist confronts her...,[Mariette Hartley],[16131],Three Days in August
3935,1,"An improbable story, but entertaining, of five...",[Mariette Hartley],[16131],The Secret War of Jackie's Girls

In [6]:
# Do the sentiments analysis of the movies based on the description

sentiments = {}

compound = []
positive = []
negative = []
neutral = []
    
for text in df['Description']:
    
    results = analyzer.polarity_scores(text)
    com = results["compound"]
    pos = results["pos"]
    neg = results["neg"]
    neu = results["neu"]
            
    compound.append(com)
    positive.append(pos)
    negative.append(neg)
    neutral.append(neu)
    
sentiments=(compound, positive, negative, neutral)

In [7]:
the_data = {'Compound': sentiments[0],
           'Positive': sentiments[1],
           'Negative': sentiments[2],
           'Neutral': sentiments[3],
            'Movie Title': title_clean,
            'Guest Number': guest_num_clean,
            'Guest Name': guest_clean,
            'Count of Guests': count_clean,
               }

In [23]:
# Convert the sentiments dictionary to the data frame

senti_data = pd.DataFrame(the_data)

In [25]:
# Find the BOTTOM MOOD movies along with the guest start actors and filter

senti_data_bottom_mood = senti_data.loc[senti_data["Compound"] < -0.975]
senti_data_bottom_mood.head()

,Compound,Count of Guests,Guest Name,Guest Number,Movie Title,Negative,Neutral,Positive
114,-0.9819,2,"[Leonard Mudie, Elisha Cook Jr.]","[101742, 3339]",They Won't Forget,0.264,0.717,0.018
241,-0.9771,2,"[Jeffrey Hunter, Warren Stevens]","[30551, 12310]",Red Skies of Montana,0.243,0.757,0.000
559,-0.9753,1,[Paul Fix],[8496],The Last Mile,0.382,0.543,0.075
698,-0.9826,2,"[Michael J. Pollard, Clint Howard]","[6451, 15661]",Tango & Cash,0.307,0.614,0.080
872,-0.9812,1,[Clint Howard],[15661],Blackwoods,0.170,0.822,0.008

In [22]:
senti_data_bottom_mood['Combined']=senti_data_bottom_mood['Guest Name'].astype(str)+' in '+ senti_data_bottom_mood['Movie Title']
senti_data_bottom_mood.head()

C:\Users\mrbal\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Compound,Count of Guests,Guest Name,Guest Number,Movie Title,Negative,Neutral,Positive,Combined
114,-0.9819,2,"[Leonard Mudie, Elisha Cook Jr.]","[101742, 3339]",They Won't Forget,0.264,0.717,0.018,"['Leonard Mudie', 'Elisha Cook Jr.'] in They W..."
241,-0.9771,2,"[Jeffrey Hunter, Warren Stevens]","[30551, 12310]",Red Skies of Montana,0.243,0.757,0.000,"['Jeffrey Hunter', 'Warren Stevens'] in Red Sk..."
559,-0.9753,1,[Paul Fix],[8496],The Last Mile,0.382,0.543,0.075,['Paul Fix'] in The Last Mile
698,-0.9826,2,"[Michael J. Pollard, Clint Howard]","[6451, 15661]",Tango & Cash,0.307,0.614,0.080,"['Michael J. Pollard', 'Clint Howard'] in Tang..."
872,-0.9812,1,[Clint Howard],[15661],Blackwoods,0.170,0.822,0.008,['Clint Howard'] in Blackwoods

In [28]:
# Find the TOP MOOD movies along with the guest start actors and filter

senti_data_top_mood = senti_data.loc[senti_data["Compound"] > 0.975]
senti_data_top_mood.head()

,Compound,Count of Guests,Guest Name,Guest Number,Movie Title,Negative,Neutral,Positive
370,0.9786,1,[Sally Kellerman],[9805],Open House,0.071,0.723,0.206
483,0.9760,1,[Paul Fix],[8496],The Plunderers,0.051,0.757,0.192
568,0.9780,1,[Paul Fix],[8496],Surrender,0.097,0.595,0.308
953,0.9926,1,[Clint Howard],[15661],The Jungle Book,0.000,0.713,0.287
1103,0.9867,1,[John Crawford],[15693],Dreamer,0.036,0.628,0.337

In [14]:
senti_data_top_mood['Combined']=senti_data_top_mood['Guest Name'].astype(str)+' in '+ senti_data_top_mood['Movie Title']

C:\Users\mrbal\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.